/content-processing/venv39/
/content-processing/venv310/
/content-processing/mlcp/src/logic_layer/knowledge_extraction/
/content-processing/mlcp/testing/mlcp_job_tests/output/
/content-processing/mlcp/testing/functional_tests/output/
/content-processing/.idea/
/cloud-logic/.idea/
/masslaw-website/.idea/
/masslaw-website/node_modules/
/.idea/
/masslaw.iml
/cloud-logic/venv310/
__pycache__/
*.pyc
/content-processing/mlcp/testing/shared/neptune_stub/apache-tinkerpop-gremlin-server-3.7.0/
content-processing/mlcp/testing/shared/neptune_stub/apache-tinkerpop-gremlin-server-3.7.0/run/gremlin.pid
content-processing/mlcp/testing/shared/neptune_stub/apache-tinkerpop-gremlin-server-3.7.0/logs/gremlin.log
*.log
*.iml
.serverless
/cloud-logic/lambda/build/
content-processing/mlcp/testing/stubs/neptune_stub/apache-tinkerpop-gremlin-server-3.7.0/run/gremlin.pid
/content-processing/mlcp/testing/output/
