@import url('../../shared/css/global.css');

:root {
    --mld-display-frame-background-color: #FFFFFF;
    --mld-display-frame-border-color: var(--masslaw-light-border-color);

    --mld-display-toolbar-height: 50px;
    --mld-display-toolbar-background-color: var(--masslaw-tertiary-background-shade);
}

.mld-display-container {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
}

.mld-display-frame {
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--mld-display-frame-background-color);
    border: 1px solid var(--mld-display-frame-border-color);
    outline: none;
    overflow: hidden;
}

.mld-display-content-rendering-area {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
}

.mld-display-toolbar-container {
    position: relative;
    width: 100%;
    height: var(--mld-display-toolbar-height);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--mld-display-toolbar-background-color);
    border: none;
    filter: var(--masslaw-softer-shadow);
    overflow: hidden;
    z-index: 10;
}

.mld-display-content-container {
    position: relative;
    width: 100%;
    height: calc(100% - var(--mld-display-toolbar-height));
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    overflow: hidden;
    z-index: 5;
}

.mld-display-content-render-area {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
}

.mld-contend-render-container {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
}

.mlc-content-renderer-canvas {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
}
