@import url('../../shared/css/global.css');

:root {
    --main-container-width: 1000px;
    --left-main-menu-width: 200px;
    --title-section-height: 70px;
}

.masslawyer-main-container {
    position: relative;
    display: block;
    width: var(--main-container-width);
    height: auto;
    background: none;
    overflow: visible;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0 20px 0;
    font-family: var(--masslaw-main-font);
}

.masslawyer-page-and-main-menu {
    width: 100%;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.masslawyer-main-menu {
    position: relative;
    align-self: flex-start;
    width: var(--left-main-menu-width);
    border-left: 1px solid var(--masslaw-light-border-color);
    background: white;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.masslawyer-main-menu-item {
    position: relative;
    color: var(--masslaw-light-text-color);
    width: calc(var(--left-main-menu-width) - 10px - 20px);
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
}
.masslawyer-main-menu-item:hover {
    background: var(--masslaw-tertiary-background-shade);
}

.masslawyer-title-section {
    position: relative;
    width: 100%;
    height: var(--title-section-height);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--masslaw-title-font);
    z-index: 10;
}
.masslawyer-title-section div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 15px 0 15px;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    color: var(--masslaw-dark-text-color);
    letter-spacing: 1px;
}

.page-container {
    position: relative;
    width: calc(100% - var(--left-main-menu-width));
    margin: 0;
    padding: 0;
    overflow: visible;
    overflow-y: scroll;
}

.masslawyer-page-title {
    position: relative;
    width: calc(100% - 40px);
    height: auto;
    margin: 20px;
    color: var(--masslaw-light-text-color);
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
    min-height: 29px;
}
.page-content {
    position: relative;
    margin: 20px;
    padding: 0;
    height: auto;
    width: calc(100% - 40px);
}