@import url('../../../shared/css/global.css');

:root {
    --masslaw-profile-image-container-width: 120 + 120 + 120;
    --masslaw-profile-sections-gap: 30px;
}

.profile-page-container {
    display: flex;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.masslawyer-profile-form-container{
    position: relative;
    flex-grow: 1;
    border: 1px solid var(--masslaw-light-border-color);
    background: white;
    filter: var(--masslaw-soft-shadow);
}

.masslawyer-profile-user-photo-container {
    position: relative;
    width: var(--masslaw-profile-image-container-width);
    margin-left: var(--masslaw-profile-sections-gap);
    height: 200px;
    top: 0;
    left: 0;
    padding: 30px 60px 30px 60px;
    border: 1px solid var(--masslaw-light-border-color);
    background: white;
    filter: var(--masslaw-soft-shadow);
}

.masslaw-profile-input-field-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.masslawyer-profile-upload-image-button-container {
    position: relative;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 40px 0 10px 0;
}

.masslaw-profile-submit-button-container {
    position: relative;
    left: 280px;
    width: auto;
    height: auto;
    padding: 20px;
}

.masslawyer-profile-form-section-title {
    position: relative;
    left: 20px;
    color: var(--masslaw-light-text-color);
    margin: 10px;
}

.masslawyer-profile-form-button-container {
    position: relative;
    width: 140px;
    margin-left: 40px;
}