:root {
    --masslaw-main-font: Trebuchet MS;
    --masslaw-title-font: var(--masslaw-main-font);
    --masslaw-button-font: var(--masslaw-main-font);
    --masslaw-text-input-font: var(--masslaw-main-font);
}