@import url('../../../shared/css/global.css');

:root {
    --cases-list-container-height: 350px;
    --case-thumbnail-width: 220px
}

.dashboard-page-title {
    margin: 40px;
    font-size: 30px;
    color: var(--masslaw-dark-text-color);
    font-family: var(--masslaw-main-font);
    font-weight: bold;
}
.dashboard-my-cases-container {
    position: relative;
    margin: 40px;
    width: calc(100% - 80px);
    height: var(--cases-list-container-height);
    border: 1px solid var(--masslaw-light-border-color);
    background: var(--masslaw-secondary-background-shade);
}
.dashboard-my-cases-title {
    margin: 20px;
    font-size: 20px;
    color: var(--masslaw-light-text-color);
    font-family: var(--masslaw-main-font);
    font-weight: bold;
}
.dashboard-case-create-button-container {
    position: absolute;
    margin: 15px;
    top: 0;
    right: 0;
}
.dashboard-no-cases-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--masslaw-very-light-text-color);
    font-size: 17px;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.dashboard-my-cases-list-container {
    position: relative;
    display: flex;
    top: 0;
    height: calc(100% - 60px);
    width: 100%;
}

.application-dashboard-case-thumbnail-container {
    margin: 10px 15px 10px 15px;
    width: var(--case-thumbnail-width);
    height: calc(100% - 30px);
    background: white;
    border-radius: 2px;
    border: 1px solid var(--masslaw-light-border-color);
    filter: var(--masslaw-floating-shadow);
}
.application-dashboard-case-thumbnail-container span {
    margin: 0 2px 0 2px;
}
.application-dashboard-case-thumbnail-container:hover {
    margin: 8px 15px 12px 15px;
    filter: var(--masslaw-higher-floating-shadow);
}
.application-dashboard-case-thumbnail-title {
    position: relative;
    width: calc(100% - 20px);
    margin: 10px 10px 20px;
    height: auto;
    color: var(--masslaw-dark-text-color);
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.application-dashboard-case-thumbnail-interaction {
    position: relative;
    width: calc(100% - 20px);
    margin: 10px;
    height: auto;
    color: var(--masslaw-light-text-color);
    font-size: 12px;
}
.application-dashboard-case-thumbnail-creation {
    position: relative;
    width: calc(100% - 20px);
    margin: 10px;
    height: auto;
    color: var(--masslaw-light-text-color);
    font-size: 12px;
}
.application-dashboard-case-thumbnail-users {
    position: relative;
    width: calc(100% - 20px);
    margin: 10px;
    height: auto;
    color: var(--masslaw-light-text-color);
    font-size: 12px;
}
.application-dashboard-case-thumbnail-files {
    position: relative;
    width: calc(100% - 20px);
    margin: 10px;
    height: auto;
    color: var(--masslaw-light-text-color);
    font-size: 12px;
}
.application-dashboard-case-thumbnail-permission {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    color: white;
    margin: 10px;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: bold;
}
.application-dashboard-case-thumbnail-permission.owner {
    background: var(--masslaw-case-owner-color);
}
.application-dashboard-case-thumbnail-permission.manager {
    background: var(--masslaw-case-manager-color);
}
.application-dashboard-case-thumbnail-permission.editor {
    background: var(--masslaw-case-editor-color);
}
.application-dashboard-case-thumbnail-permission.reader {
    background: var(--masslaw-case-reader-color);
}